.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
}

h1, h2, h3, h4 {
  font-family: 'Philosopher', sans-serif;
}

h5, h6, p, label, .btn {
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #5AC379;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #F26430;
}

.sidebar-header h3 {
  color: #f2f2f2;
  padding: 1em;
}

.sidebar ul p {
  color: #f2f2f2;
  padding: 10px;
}

.menu-open {
  background: #5AC379;
}

.nav-item:hover {
  color: #5AC379;
  background: #f2f2f2;
}

.items-menu {
  color: #f2f2f2;
  background: #5AC379;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5AC379;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #5AC379;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.btn1 {
  background-color: #93dfb6;
}