.body-bg {
    background-color: #f2f2f2;
}

/* Menu Styles */

.menu-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.menu-card {
    margin: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.menuOptions {
    padding: 10px;
    padding-top: 0;
    border-radius: 7px;
    margin: 10px auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: sticky;
    width: 90%;
    z-index: -100;
}

.form-check {
    margin-top: 5px;
}

.section-head {
    padding: 10px;
    margin: 30px auto;
    background-color: #f29877;
    border-radius: 7px;
    text-align: center;
    min-width: 200px;
    width: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.subhead {
    margin: 15px;
    text-align: center;
}

/* Only order once */

h5.red {
    color: red;
}

/* Button Styling */

button.btn1 {
    background-color: #93dfb6;
    margin: 2px;
}
button.btn1:hover{
    background-color: #5AC379;
}

button.btn2 {
    margin: 2px;
    background-color: #f29877;
}

button.btn2:hover {
    background-color: #f26430;
}

button.btn-lrg {
    padding: 20px;
}

/* Fonts */

h1, h2, h3, h4 {
    font-family: 'Philosopher', sans-serif;
}

h5, h6, p, label, .btn, .mainFont {
    font-family: 'Open Sans', sans-serif;
}

.centered{ 
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.counter {
    font-size: 2em;
    font-weight: bold;
}

footer {
    background-color: #f26430;
}

.margins {
    margin: 5px;
    color: white;
}

.center {
    text-align: center;
}

.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

.inline {
    display: inline;
}