td, th {
    width: 1px;
    white-space: nowrap;
}

.cartHeading {
    padding-left: 3%;
}

.menu-container .buttons {
    padding-left: 2%;
}

.right{
    margin-right: auto;
}

.title-bar{
    display: flex;
}

.title-bar h3{
    margin-right: auto;
}

.title-bar button{
    background-color: #f26430;
}