.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

@media(max-width: 992px) {

    .wpo-team-area {
        padding-bottom: 30px;
    }
}
.location-wrap {
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
}





