.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.row {
    height: auto;
    display:flex; 
    justify-content: space-evenly;
}

@media(max-width: 992px) {

    .wpo-team-area {
        padding-bottom: 30px;
    }
}

