
.wpo-site-footer {
    background: #F26430;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}

.wpo-site-footer ul{
    list-style: none;
    align-content: center !important;
    text-align: center !important;
}

.wpo-site-footer p,
.wpo-site-footer li {
    margin-top: 10px;
    color: #f2f2f2;
}

.wpo-site-footer li{
    margin-left: auto;
    margin-right: auto;
}

.wpo-site-footer .container {
    position: relative;
}

.wpo-site-footer .wpo-upper-footer {
    padding: 0 0 0px;
}

@media (max-width: 991px) {

    .wpo-site-footer .wpo-upper-footer {
        padding: 0 0 0px;
    }
}

@media (max-width: 767px) {

    .wpo-site-footer .wpo-upper-footer {
        padding: 0 0 0px;
    }
}

@media (max-width: 991px) {

    .wpo-site-footer .wpo-upper-footer .col {
        min-height: 235px;
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {

    .wpo-site-footer .wpo-upper-footer .col {
        min-height: auto;
        margin-bottom: 0px;
    }
}

.wpo-site-footer .about-widget p {
    margin-bottom: 0.2em;
    line-height: 1.5em;
}

.wpo-site-footer .about-widget p:last-child {
    margin-bottom: 0;
}

.wpo-site-footer .about-widget ul {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 90px;
}

.wpo-site-footer .about-widget ul li {
    font-size: 22px;
    float: left;
}

.wpo-site-footer .about-widget ul>li+li {
    margin-left: 20px;
}

.wpo-site-footer .about-widget ul a {
    color: #f2f2f2;
}

.wpo-site-footer .wpo-lower-footer {
    text-align: center;
    position: relative;
    background: #F26430;
}

.wpo-site-footer .wpo-lower-footer .row {
    padding: 10px 0;
    position: relative;
}

.wpo-site-footer .wpo-lower-footer .copyright {
    display: inline-block;
    font-size: 15px;
    font-size: 0.9375rem;
    margin: 0;
}

@media (max-width: 991px) {

    .wpo-site-footer .wpo-lower-footer .copyright {
        float: none;
        display: block;
    }
}

.wpo-site-footer .wpo-lower-footer .copyright a {
    color: #f2f2f2;
    text-decoration: underline;
}
