ul.smothscroll {
    position: fixed;
    bottom: 25px;
    right:30px;
    list-style: none;
    z-index: 9;
}
ul.smothscroll a {
    background-color: rgb(8, 204, 127,.7);
    width: 45px;
    height: 45px;
    line-height: 40px;
    border: 2px solid #08cc7f;
    border-radius: 0;
    display: block;
    text-align: center;
    color: #f2f2f2;
    border-radius: 50%;
}
ul.smothscroll a:hover {
    background-color: #08cc7f;
}

@media(max-width:767px){
    ul.smothscroll a {
        width: 30px;
        height: 30px;
        line-height: 25px;
    }
}