
.menuOptions{
    background-color: white;
}

h5.red {
    color: red;
}

button.btn1 {
    background-color: #93dfb6;
    margin: 2px;
}
button.btn1:hover{
    background-color: #5AC379;
}

button.btn2 {
    margin: 2px;
    background-color: #f29877;
}

button.btn2:hover {
    background-color: #f26430;
}

h1, h2, h3, h4 {
    font-family: 'Philosopher', sans-serif;
}

h5, h6, p, label, .btn, .mainFont {
    font-family: 'Open Sans', sans-serif;
}