* {
    list-style:none !important;
}

.topbar {
    object-fit: contain;
    max-width: 100%;
}

.hide {
    display: none;
}

.topbar li {
    position: relative;
    align-self: auto;
    margin-top: 10%;
}

@media (max-width: 991px) {
.topbar ul li {
        font-size: 12px;
        list-style:none;
    }
}

@media (max-width: 767px) {
.topbar ul li {
        border: none;
        font-size: 13px;
        list-style:none;
    }

}

@media (max-width: 590px) {
.topbar ul li {
        float: none;
        list-style:none;
        
    }
}

.topbar ul>li+li+li {
    padding: 0;
    list-style:none;
}

.topbar ul>li+li {
    list-style:none;
}

.topbar ul .fi {
    top: 1px;
    display: inline-block;
    list-style:none;
}

.topbar ul .fi:before {
    font-size: 15px;
    font-size: 1rem;
    color: #f2f2f2;
    list-style:none;
}